<div class="center jumbotron">
    <div class="text-center">
        <h1>筋トレをはじめよう！</h1>
            <% unless logged_in? %>
                <%= link_to 'トレーニング開始', signup_path, class: "btn btn-default glyphicon glyphicon-heart" %>
            <% end %>
    </div>
</div>
<div class="text-right">
    <h5>すでに登録されている方は<%= link_to 'こちら', login_path %></h5>
</div>
