<% content_for :cover do %>
    <div class="cover">
        <div class="cover-inner">
            <divclass="cover-contents">
                <h1>さあ、筋トレをはじめよう！</h1>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-heart"></span>
                    トレーニング開始
                </button>
            </divclass>
        </div>
    </div>
<% end %>

<P>テスト</P>